body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #2A3F92;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.language-switcher a,
nav a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.logo {
    text-align: center;
    font-size: 100px;
    margin: 100px 0 20px 0;
    color: #2A3F92;
    font-family: 'Jolly Lodger', cursive;
}

h1.title {
    text-align: center;
    font-size: 45px;
    color: #002550;
}

.registration-form-container {
    background-color: #0A4D9C;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.registration-form .form-group label {
    color: white;
}

.btn-register {
    background-color: white;
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    display: block;
    width: 100%;
    cursor: pointer;
}

footer {
    background-color: #00132A;
    color: white;
    padding: 30px 30px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    text-align: center;
}

.footer-logo {
    font-family: 'Jolly Lodger', cursive;
    font-size: 40px;
}

.footer-title {
    font-size: 20px;
    font-weight: bold;
}

.footer-column p {
    font-size: 14px;
    margin: 5px 0;
}

.footer-column a {
    color: white;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.custom-line {
    border: 0;
    height: 2px;
    background: #0A4D9C;
    margin: 20px 0;
}

.nav-link {
    color: white;
}

.custom-navbar {
    background-color: transparent !important;
}

.custom-navbar .custom-nav-link,
.custom-navbar .custom-navbar-brand,
.custom-navbar .custom-navbar-toggler-icon {
    color: white !important;
}

.custom-dropdown-menu {
    background-color: rgba(255, 255, 255, 0.9);
}

.custom-dropdown-item {
    color: black !important;
}

.custom-dropdown-item:hover {
    background-color: #f8f9fa;
}

#registrationImage {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
